{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/trial.css' %}">
    <link rel="stylesheet" href="{% static 'css/list_user.css' %}">
{% endblock css %}

{% block title %}List User{% endblock title %}

{% block content %}
<div class="tampilan">
    <h1 class="poppins">ini list user yang dah login</h1>
    <table>
    	<thead>
    		<tr>
    			<th class="header">Nama</th>
			    <th class="header">Fakultas</th>
			    <th class="header">Angkatan</th>
    		</tr>
    	</thead>
    	<tbody>
    		{% for x in mhs %}
    		<tr>
			    <td class="body"><a href="./{{x.user.username}}" title="">{{x.user.first_name}}</a></td>
			    <td class="body">{{x.fakultas}}</td>
			    <td class="body">{{x.angkatan}}</td>
			</tr>
			{% endfor %}
    	</tbody>
    </table>

</div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/trial.js' %}"></script>
{% endblock js %}