@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

ul.navbar-nav li.nav-item a.nav-link{
	color: #3A436B;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
}

nav {
	align-items: center;
	padding: 20px 10%;
	background-color: #FFCD3D;
}

.navbar-toggler-icon {
	color: #3A436B;
} 
/*li, a, button {
	color: #3A436B;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px 10%;
	background-color: #FFCD3D;
}

.logo {
	cursor: pointer;
}

.nav_links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.active a {
	background-color: #0088a9;
	width: 190px;
	height: 80px;
}

.nav__links li a:hover {
	color: #0088a9;
}*/